$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width: 320px;

$desktop-padding: 110px;
$tablet-padding: 60px;
$mobile-padding: 24px;

$font: "Arial", sans-serif;
$font-alt: "Arial", sans-serif;

$time: 0.2s;

$black: #4a4a4a;
$black-light: #585858;
$black1: #404040;
$dark: #353535;
$gray: rgba(151, 151, 151, 0.3);
$gray-light: #c7c7c7;
$white: #ffffff;
$yellow: #f2b700;
$yellow-dark: #cc9a00;
$green: #008938;
$forestgreen:#00572d;
$darkgreen: #417505;
$azure: #f3f6f9;
$red: #ff4949;
$overlay-color: rgba(0, 0, 0, 0.7);
